<!DOCTYPE html>
<html lang="en">
<head>
    <title>Love calculator</title>
    <%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/navbar'); %>

Love calculator api
</body>
</html>